{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    {% tailwind_css %}
  </head>
  <body class="w-full h-screen overflow-hidden flex">
    <!-- Left Side -->
    <div class="relative w-1/2 h-full">
        <img src="{% static 'images/register_page_bg.png' %}" alt="GitJob" class="w-full h-full object-cover">
        <h1 class="absolute text-white text-4xl font-bold" style="top: 2rem;left:2rem"> GitJob </h1>
    </div>

    <!-- Right Side -->
    <div class="w-1/2 flex items-center justify-center bg-white">
        <form class="w-full h-full p-8 bg-gray-200 rounded-lg shadow-md" method="post">
            {% csrf_token %}
            <h1 class="text-4xl mb-6 font-bold">Register</h1>
            {{ form.as_p }}

            <div class="flex justify-center">
                <button type="submit" class="w-1/2 py-2 mt-4 text-white bg-blue-600 hover:bg-blue-700 rounded-lg">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
