{% load static %} {% load static tailwind_tags %}
<!-- Sidebar -->   
    {% if request.user.is_authenticated %}
        {% if request.user.is_business_manager %}
            {% include 'includes/manager_sidebar.html' %}
        {% else %}
            {% include 'includes/user_sidebar.html' %}
        {% endif %}
    {% endif %}


    <!--Notifications-->
    <div
    id="notif-sidebar"
    class="fixed right-0 top-0 h-full w-80 bg-gray-100 shadow-lg text-black z-50 transform translate-x-full transition-transform duration-300"
    >
        <div class="flex flex-col items-start p-6 space-y-6">
            <!-- Notifications Header -->
            <div class="flex justify-between justify-center items-center w-full">
            <h2 class="text-xl font-bold text-left mr-6">Notifications</h2>
            <img
                src="{% static 'images/close.png' %}"
                alt="Sample Image"
                class="w-4 h-4 object-cover"
                id="close-toggle-notif-sidebar"
            />
            </div>
            </div>
            <hr class="border-t border-gray-600 w-full" />
            <!-- Example Notifications -->
            <div class="flex justify-between justify-center items-center w-full">
            <ul id="notification-list" class="space-y-4 py-5">
                <!-- Notifications will be dynamically inserted here -->
            </ul>
            </div>
        
    </div>
    
    <!-- Navbar -->
    {% include 'includes/nav_bar.html' %}
<script src="{% static 'js/notifications.js' %}"></script>