{% load static %}
{% load static tailwind_tags %}

<!-- Apply Job -->
<div id="job_application_modal" class="fixed w-3/5 max-h-[90vh] p-16 py-7 top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] rounded-2xl bg-white z-10 overflow-y-auto" style="display: none;">
    <form method="POST" class="flex flex-col items-center">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="job_application_form">
        <input type="hidden" name="already_applied" value="{{ edit_application_fields.already_applied }}">

        <h1 class="text-2xl text-black text-center">Job Application Form</h1>
        <img id="job_application_exit" src="{% static 'jobs/images/cross_mark_icon.png' %}" class="w-8 h-8 hover:cursor-pointer absolute top-6 right-6 hover:scale-105 active:scale-95" alt="Exit Button">
 
        <hr class="w-[96%] mt-2 border-1 border-solid border-black">
        
        <!-- Short inputs container -->
        <div class="flex flex-col m-0 justify-center">
            <!-- row of inputs, two per row if space is available -->
            <div class="mb-0 flex flex-wrap gap-6">
                <!-- input and their label containers -->
                <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                    <label for="first_name">First Name</label>
                    <input value="{{ request.user.first_name }}"
                        class="profile_edit_input" readonly>
                </div>
                <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                    <label for="last_name">Last Name</label>
                    <input value="{{ request.user.last_name }}"
                        class="profile_edit_input" readonly>
                </div>
            </div>
            <div class="my-0 flex flex-wrap gap-6">
              <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                <label for="email">Email address</label>
                <input value="{{ request.user.email }}"
                        class="profile_edit_input" readonly>
              </div>  
              <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                  <label for="phone_number">Phone Number</label>
                  {{ job_application_form.phone_number }}
              </div>
            </div>
            <div class="my-0 flex flex-col items-center">
              <p class="mt-2 text-2xl font-semibold">Cover Letter</p>
              {{ job_application_form.cover_letter }}
            </div>

            <div class="flex flex-col items-center mb-5">
              <h1 class="text-2xl font-semibold">Resumes</h1>
              {% if resumes %}
              <div class="resume_wrapper flex flex-col mt-0">
                  {% for resume in resumes %}
                  <div class="relative flex w-full px-4 py-2 border-[2px] border-solid border-black rounded-xl bg-cyan-200 items-center">
                      <a href="{{ resume.file.url }}" target="_blank" class="flex-1">
                          <div class="flex items-center m-0">
                              <img src="{% static 'images/document.png' %}" class="w-8 h-8 mr-4">
                              <div class="flex flex-col m-0">
                                  <p class="overflow-hidden">{{ resume.filename }}</p>
                                  <p class="text-sm text-gray-600">Date Uploaded: {{ resume.date_uploaded }}</p>
                                </div>
                          </div>
                      </a>
                      <input type="radio" name="resume_id" value="{{ resume.id }}"
                        class="hover:scale-110 hover:shadow-md active:scale-90 active:shadow-sm"
                        {% if edit_application_fields.form.resume.id == resume.id or forloop.first %}
                        checked
                        {% endif %}>
                  </div>
                  {% endfor %}
              </div>

              <!-- Buttons -->
                <div class="mt-5 w-full flex justify-end">
                    <button id="job_application_cancel" class="px-3 py-2 rounded-xl bg-gray-200 text-black font-semibold hover:scale-105 hover:shadow-md active:scale-95 active:shadow-sm" type="button">Cancel</button>
                    <button id="job_application_submit" class="px-3 py-2 ml-5 rounded-xl bg-blue-600 text-white font-semibold hover:scale-105 hover:shadow-md active:scale-95 active:shadow-sm" type="submit">Submit</button>
                </div>
            {% else %}

                <p class="mt-2">You have not uploaded a single resume yet. Please go to your 
                    <a href="{% url 'profile' username=request.user.username %}" class="font-bold text-cyan-600 hover:text-cyan-700">PROFILE</a> 
                    and upload one
                </p>

            {% endif %}
            </div>
        </div>

     </form>
</div>