{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/dist/custom.css' %}">
  </head>

    {% if messages %}
        {% include 'includes/message_box.html' %}
        <script src="{% static 'js/message_box.js' %}"></script>
    {% endif %}
  
<body class="bg-white"> 
    <!-- Center Div -->
    <section class="min-h-screen flex box-border justify-center items-center"
            style="background-image: url('{% static "images/bg_image.jpg" %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            height: 100vh;"
            >
        <div class="bg-cyan-300 rounded-3xl flex max-w-4xl p-8 items-center">
            <div class="md:w-1/2 px-10 mr-10">
                <h2 class="font-bold text-4xl text-[#002D74]">Login</h2>
                <p class="text-sm mt-4 text-[#002D74]">If you already a member, easily log in now.</p>
                <br>
                <form method="post" class="flex flex-col gap-4">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    <button class="bg-blue-500 text-white py-2 rounded-xl hover:scale-105 duration-300 hover:bg-[#206ab1] font-medium" type="submit">Login</button>
                </form>
                <div class="mt-4 text-sm flex justify-between items-center container-mr">
                    <p class="mr-3 md:mr-0 ">If you don't have an account..</p>
                    <a href="{% url 'register' %}" class="rounded-xl py-2 px-5 font-semibold hover:border register text-white bg-[#002D74] hover:text-blue-600 hover:border-gray-400 hover:bg-[#002c7424] hover:scale-110 hover:bg-[#002c7424] duration-300">Register</a>
                </div>
            </div>
            <div class="md:block w-1/2">
                <img class="rounded-2xl max-h-[1600px]" src="{% static 'images/login_img.jpg' %}" alt="login form image">
            </div>
        </div>
    </section> 
</body>
</html>
