{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/dist/custom.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/message_box.js' %}"></script>
    {{ request.user.skills | json_script:"skills" }}
    {{ request.user.experiences | json_script:"experiences" }}
    <script src="{% static 'js/edit_profile.js' %}" defer></script>
    {% if messages %}
        {% include 'includes/message_box.html' %}
    {% endif %}
</head>
<body class="w-screen h-screen bg-black">
    <!-- Navbar -->
    {% include 'includes/headings.html' %}
    <div class="main_page w-full bg-gray-200">
        <div class="max-w-[1000px] w-[90%] mx-auto px-15 py-5 flex flex-col justify-center">

            <div class="relative flex mb-5 p-10 rounded-xl bg-white  shadow-lg">
                <div id="edit_profile_btn" class="absolute p-3 pt-2 pr-2 top-4 right-4 rounded-lg shadow-inner hover:cursor-pointer hover:bg-cyan-200">
                    <img src="{% static 'images/edit.png' %}"
                        class="w-7 h-7">
                </div>
    
                <div class="w-32">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="profile_pic_upload_form">
                        <input type="file" id="profile-pic-input" name="profile_picture" style="display: none;" accept="image/*">
                        <img src="{{ user.profile_picture.url }}" 
                                alt="Profile Picture" 
                                id="profile-pic"
                                style="cursor: pointer;"
                                class="w-24 h-24 object-cover rounded-full">
                    </form>
                </div>
    
                <div class="flex-1 flex flex-col">
                    <h1 id="name" class="mt-2 text-3xl font-bold">{{ user.first_name }} {{ user.last_name }}</h1>
                    <h1 id="username" class="text-sm text-gray-800">@{{ user.username }}</h1>
                    {% if user.job %}
                     <div class="mt-1 flex">
                        <h1 id="job" class="text-xl font-medium">{{ user.job }}</h1>
                        <h1 class="mx-1 text-xl"> at </h1>
                        <h1 id="job_company" class="text-xl font-medium">{{ user.job_company }}</h1>
                     </div>
                     {% endif %}
    
                     <div class="flex">
                        <div class="flex flex-col mt-4 gap-4 mr-10">
                            {% if user.country %}
                            <div class="flex items-center">
                                <img src="{% static 'images/location.png' %}" class="profile_detail_icon">
                                <h1 id="job" class="text-sm font-medium text-gray-600">{{ user.country }}</h1>
                            </div>
                            {% endif %}
    
                            {% if user.home_address %}
                            <div class="flex items-center">
                                <img src="{% static 'images/home.png' %}" class="profile_detail_icon">
                                <h1 id="job" class="text-sm font-medium text-gray-600">{{ user.home_address }}</h1>
                            </div>
                            {% endif %}
    
                            {% if user.phone_number %}
                            <div class="flex items-center">
                                <img src="{% static 'images/phone.png' %}" class="profile_detail_icon">
                                <p id="job" class="text-sm font-medium text-gray-600">{{ user.phone_number }}</p>
                            </div>
                            {% endif %}
    
                            {% if user.birthdate %}
                            <div class="flex items-center">
                                <img src="{% static 'images/calendar.png' %}" class="profile_detail_icon">
                                <p id="job" class="text-sm font-medium text-gray-600">{{ user.birthdate }}</p>
                            </div>
                            {% endif %}
                            
                            {% if user.gender %}
                            <div class="flex items-center">
                                <img src="{% static 'images/gender.png' %}" class="profile_detail_icon">
                                <p id="job" class="text-sm font-medium text-gray-600">{{ user.gender }}</p>
                            </div>
                            {% endif %}

                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="logout">
                                <button type="submit" class="w-24 py-1 mt-4 rounded-xl bg-red-500 text-white font-bold">Sign out</button>
                            </form>
                        </div>
    
                        <div>
                            {% if user.description %}
                            <div class="mt-2 flex items-center">
                                <img src="{% static 'images/info.png' %}" class="profile_detail_icon">
                                <p id="job" class="text-sm font-medium text-gray-600">{{ user.description }}</p>
                            </div>
                            {% endif %}
                        </div>

                     </div>
                </div>
            </div>
    
            <div class="relative flex flex-col mb-5 p-10 rounded-xl bg-white shadow-lg">
                <div id="edit_skills_btn" class="absolute p-3 pt-2 pr-2 top-4 right-4 rounded-lg shadow-inner hover:cursor-pointer hover:bg-cyan-200">
                    <img src="{% static 'images/edit.png' %}"
                        class="w-7 h-7">
                </div>
    
                <h1 class="text-3xl font-bold">Skills</h1>
    
                {% if user.skills %}
                    <div class="px-10 pt-5">
                        <ul class="list-disc">
                            {% for skill in user.skills %}
                            <li class="text-lg">{{skill}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <p class="mt-4">Not written any yet</p>
                {% endif %}
            </div>
    
            <div class="relative flex flex-col mb-5 p-10 rounded-xl bg-white shadow-lg">
                <div id="edit_experiences_btn" class="absolute p-3 pt-2 pr-2 top-4 right-4 rounded-lg shadow-inner hover:cursor-pointer hover:bg-cyan-200">
                    <img src="{% static 'images/edit.png' %}"
                        class="w-7 h-7">
                </div>
    
                <h1 class="text-3xl font-bold">Experiences</h1>
    
                {% if user.experiences %}
                    <div class="px-10 pt-5">
                        <ul class="list-disc">
                            {% for experience in user.experiences %}
                            <li class="text-lg">{{experience}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <p class="mt-4">Not written any yet</p>
                {% endif %}
            </div>
    
            <div class="flex flex-col mb-5 p-10 rounded-xl bg-white shadow-lg">
                <h1 class="text-3xl font-bold mb-5">Resumes</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="resume_upload_form">
                    <p class="w-full">
                        {{ resume_upload_form.resume_file }}
                        <label for="id_resume_file" class="inline-block px-3 py-2 bg-violet-700 text-white rounded-xl hover:cursor-pointer hover:scale-105 hover:shadow-md active:scale-95 active:shadow-sm">Upload File</label>
                    </p>
                </form>
    
                {% if resumes %}
                <div class="resume_wrapper flex flex-col mt-5">
                    {% for resume in resumes %}
                    <div class="relative flex w-full mb-5 px-4 py-2 border-[2px] border-solid border-black rounded-xl bg-cyan-200 items-center">
                        <a href="{{ resume.file.url }}" target="_blank" class="flex-1">
                            <div class="flex items-center">
                                <img src="{% static 'images/document.png' %}" class="w-8 h-8 mr-4">
                                <div class="flex flex-col">
                                    <p class="overflow-hidden">{{ resume.filename }}</p>
                                    <p class="text-sm text-gray-600">Date Uploaded: {{ resume.date_uploaded }}</p>
                                </div>
                            </div>
                        </a>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="resume_delete_form">
                            <input type="hidden" name="id" value="{{ resume.id }}">
                            <img id="delete_resume_btn" src="{% static 'images/delete-icon.png' %}"
                            class="hover:cursor-pointer z-10">
                        </form>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Edit Profile Details -->
    <div id="edit_profile_modal" class="fixed w-3/5 max-h-[90vh] p-16 py-7 top-[2rem] left-1/2 translate-x-[-50%] rounded-2xl bg-white z-10 overflow-y-auto" style="display: none;">
        <form method="POST" class="flex flex-col overflow-y-auto">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="edit_profile_form">
            
            <img id="edit_profile_exit" src="{% static 'images/cross_mark_icon.png' %}" class="w-8 h-8 hover:cursor-pointer absolute top-6 right-6" alt="Exit Button">
            <h1 class="text-2xl font-bold">Edit Profile Details</h1>
     
            <!-- <hr class="w-[96%] mt-2 border-1 border-solid border-black"> -->
            
            <!-- Short inputs container -->
            <div class="flex flex-col m-0 justify-center">
                <!-- row of inputs, two per row if space is available -->
                <div class="mb-0 flex flex-wrap gap-10">
                    <!-- input and their label containers -->
                    <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                        <label for="id_username" class="font-semibold">Username</label>
                        <input type="text" name="username" id="id_username" class="profile_edit_input" 
                            value="{{ user.username }}">
                    </div>
                    <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                        <label for="id_phone_number" class="font-semibold">Phone Number</label>
                        <input type="text" name="phone_number" id="id_phone_number" class="profile_edit_input" 
                            {% if user.phone_number %} value="{{ user.phone_number }}"{% endif %}>
                    </div>
                </div>
                <div class="my-0 flex flex-wrap gap-10">
                    <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                        <label for="id_home_address" class="font-semibold">Home Address</label>
                        <input type="text" name="home_address" id="id_home_address" class="profile_edit_input" 
                            {% if user.home_address %} value="{{ user.home_address }}"{% endif %}>
                    </div>
                    <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                        <label for="id_country" class="font-semibold">Country</label>
                        <input type="text" name="country" id="id_country" class="profile_edit_input" 
                            {% if user.country %} value="{{ user.country }}"{% endif %}>
                    </div>
                </div>
                <div class="my-0 flex flex-wrap gap-10">
                    <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                        <label for="id_job" class="font-semibold">Job</label>
                        <input type="text" name="job" id="id_job" class="profile_edit_input" 
                            {% if user.job %} value="{{ user.job }}"{% endif %}>
                    </div>
                    <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                        <label for="id_job_company" class="font-semibold">Job Company</label>
                        <input type="text" name="job_company" id="id_job_company" class="profile_edit_input" 
                            {% if user.job_company %} value="{{ user.job_company }}"{% endif %}>
                    </div>
                </div>
                <div class="my-0 flex flex-wrap gap-10">
                    <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                        <label for="id_gender" class="font-semibold">Gender</label>
                        <select name="gender" id="id_gender" class="profile_edit_input">
                            <option value="">Select Gender</option>
                            <option value="Male" {% if user.gender == "Male" %} selected {% endif %}>Male</option>
                            <option value="Female" {% if user.gender == "Female" %} selected {% endif %}>Female</option>
                            <option value="Others" {% if user.gender == "Others" %} selected {% endif %}>Others</option>
                        </select>
                    </div>
                    <div class="m-0 flex flex-col flex-1 min-w-[250px]">
                        <label for="id_birthdate" class="font-semibold">Birthdate</label>
                        <input type="date" name="birthdate" id="id_birthdate" class="profile_edit_input" 
                            {% if user.birthdate %} value="{{ birthdate }}"{% endif %}>
                    </div>
                </div>
                <div class="my-0 mx-auto flex flex-col items-center">
                    <label for="id_description" class="font-semibold">Description</label>
                    <textarea name="description" id="id_description" class="rounded-xl w-full h-[100px] mt-1 border-2 border-gray-300">{% if user.description %}{{ user.description }}{% endif %}</textarea>
                </div>
            </div>
            
            <!-- Buttons -->
            <div class="flex justify-end">
                <button id="edit_profile_cancel" class="px-3 py-2 rounded-xl bg-gray-200 text-black font-semibold" type="button">Cancel</button>
                <button id="edit_profile_confirm" class="px-3 py-2 ml-5 rounded-xl bg-blue-600 text-white font-semibold" type="submit">Save Changes</button>
            </div>
         </form>
    </div>

    <div id="close_btn_url" data-static-url="{% static 'images/close.png' %}" class="hidden"></div>

     <!-- Edit Skills -->
     <div id="edit_skills_modal" class="fixed w-1/2 h-3/4 flex flex-col max-h-[80vh] p-8 top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] rounded-2xl border-2 border-black border-solid bg-white z-10 overflow-hidden box-border" style="display: none;">
        <form method="POST" class="w-full h-full flex flex-col box-border">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="edit_skills_form">

            <h1 class="text-2xl text-black text-center">Edit Skills</h1>
            <img id="edit_skills_exit" src="{% static 'images/cross_mark_icon.png' %}" class="w-8 h-8 hover:cursor-pointer absolute top-6 right-6" alt="Exit Button">

            <div class="w-full flex items-center gap-4 p-0">
                <input type="text" name="add_skill" id="add_skill" class="flex-1 border-2 border-gray-300 rounded-md p-2 h-10">
                <button name="add_skill_btn" id="add_skill_btn" class="px-5 py-2 rounded-xl bg-gray-200 font-semibold" onclick="addSkill()" type="button">Add</button>
            </div>
            <input type="hidden" name="skills_json" id="skills_json">
            <div id="skill_wrapper" class="m-0 mt-6 max-h-[60vh] flex flex-col box-border"></div>

            <div class="flex justify-end mt-auto">
                <button id="edit_skills_cancel" class="px-3 py-2 rounded-xl bg-gray-200 text-black font-semibold" type="button">Cancel</button>
                <button id="edit_skills_confirm" class="px-3 py-2 ml-5 rounded-xl bg-blue-600 text-white font-semibold" type="submit">Save Changes</button>
            </div>
        </form>
    </div>

     <!-- Edit Experiences -->
     <div id="edit_experiences_modal" class="fixed w-1/2 h-3/4 flex flex-col max-h-[80vh] p-8 top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] rounded-2xl border-2 border-black border-solid bg-white z-10 overflow-hidden box-border" style="display: none;">
        <form method="POST" class="w-full h-full flex flex-col box-border">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="edit_experiences_form">

            <h1 class="text-2xl text-black text-center">Edit Experiences</h1>
            <img id="edit_experiences_exit" src="{% static 'images/cross_mark_icon.png' %}" class="w-8 h-8 hover:cursor-pointer absolute top-6 right-6" alt="Exit Button">

            <div class="w-full flex items-center gap-4 p-0">
                <input type="text" name="add_experience" id="add_experience" class="flex-1 border border-gray-300 rounded-md p-2 h-10">
                <button name="add_experience_btn" id="add_experience_btn" class="px-5 py-2 rounded-xl bg-gray-200 font-semibold" onclick="addExperience()" type="button">Add</button>
            </div>

            <input type="hidden" name="experiences_json" id="experiences_json">
            <div id="experience_wrapper" class="m-0 mt-6 max-h-[60vh] flex flex-col box-border"></div>

            <div class="flex justify-end mt-auto">
                <button id="edit_experiences_cancel" class="px-3 py-2 rounded-xl bg-gray-200 text-black font-semibold" type="button">Cancel</button>
                <button id="edit_experiences_confirm" class="px-3 py-2 ml-5 rounded-xl bg-blue-600 text-white font-semibold" type="submit">Save Changes</button>
            </div>
         </form>
    </div>
</body>
</html>