{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/dist/custom.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/message_box.js' %}"></script>
    <script>
        function preParseSkills(){
            const skills = JSON.parse("{{ skills_json|escapejs }}")
            initEditSkills(skills)
        }

        function preParseExperiences(){
            const experiences = JSON.parse("{{ experiences_json|escapejs }}")
            initEditExperiences(experiences)
        }
    </script>
    {% if messages %}
        {% include 'includes/message_box.html' %}
    {% endif %}
</head>
<body class="w-screen h-screen">
    <!-- Navbar -->
    {% include 'includes/headings.html' %}

    <div class="w-full h-[calc(100%-100px)] px-15 flex justify-center">
        <!-- Left Div -->
        <div class="relative w-1/5 h-5/6 m-10 mx-[0.75rem] bg-cyan-200 rounded-xl border-2 border-solid border-black flex flex-col items-center">

                <img src="{{ user.profile_picture.url }}" 
                        alt="Profile Picture" 
                        id="profile-pic"
                        class="w-24 h-24 mt-[2.5rem] object-cover rounded-full border-2 border-black border-solid hover:cursor-pointer">
                <h1 id="username" class="mt-2 text-xl font-bold">{{ user.username }}</h1>
                <h1 id="name" class="mt-2 text-lg font-medium">{{ user.first_name }} {{ user.last_name }}</h1>

                 {% if user.job %}
                 <div class="flex justify-between">
                    <h1 id="job" class="mt-2 text-l font-medium">{{ user.job }}</h1>
                    <h1 class="mt-2 mx-1 text-l font-medium"> at </h1>
                    <h1 id="job_company" class="mt-2 text-l font-medium">{{ user.job_company }}</h1>
                 </div>
                 {% endif %}

                 {% if user.home_address %}
                 <h1 id="home_address" class="mt-2 text-l font-medium">{{ user.home_address }}</h1>
                 {% endif %}

                 {% if user.phone_number %}
                 <h1 id="phone_number" class="mt-2 text-l font-medium">{{ user.phone_number }}</h1>
                 {% endif %}

                 <h1 id="email" class="mt-2 text-l font-medium">{{ user.email }}</h1>

                 <hr>

                 {% if user.birthdate %}
                 <h1 id="birthdate" class="mt-2 text-l font-medium">{{ user.birthdate }}</h1>
                 {% endif %}

                 {% if user.gender %}
                 <h1 id="gender" class="mt-2 text-l font-medium">{{ user.gender }}</h1>
                 {% endif %}

                 {% if user.description %}
                 <h1 id="description" class="mt-2 text-l font-medium">{{ user.description }}</h1>
                 {% endif %}
        </div>
        <!-- Right Div -->
        <div class="w-2/5 h-5/6 m-10 mx-[0.75rem] flex flex-col justify-center">
            <div class="w-full h-3/5 mb-6 bg-gray-200 rounded-2xl border-2 border-solid border-black flex justify-between">
                <div class="relative w-[45%] p-4 h-5/6 m-6 mr-4 bg-green-200 rounded-2xl border-2 border-solid border-black flex flex-col items-center">
                    <h1 class="mt-2 text-xl font-bold">Skills</h1>
                    {% if user.skills %}
                        <ul class="list-disc">
                            {% for skill in user.skills %}
                            <li>{{skill}}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <p class="mt-4">Not written any yet</p>
                    {% endif %}
                </div>
                <div class="relative w-[45%] p-4 h-5/6 m-6 ml-4 bg-green-200 rounded-2xl border-2 border-solid border-black flex flex-col items-center">
                    <h1 class="mt-2 text-xl font-bold">Experiences</h1>
                    {% if user.experiences %}
                    <ul class="list-disc">
                        {% for experience in user.experiences %}
                        <li>{{experience}}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="mt-4">Not written any yet</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</body>
</html>