{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gitjob</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/dist/homepage.css' %}"/> 
  </head>
  <body>
    <div class="min-h-screen mx-auto">

      {% include 'includes/headings.html' %}
      {{ request.user.username|json_script:"username" }}

      <!-- Search Bar Section -->
      {% include 'includes/search_job_bar.html' %}
  
      <!-- Filter and Explore Section -->
      <div class="flex w-full">
        <!-- Filter -->
        <div class="w-[150px] flex flex-col ml-16">
          <h2 class="text-lg font-bold pt-5">Filter</h2>
          <ul class="mt-4">
            <li class="text-s font-bold text-slate-500">Schedule</li>
            <li class="text-s">
              <input type="checkbox" id="full_time" name="full_time" />
              <label for="full_time" class="text-s">Full Time</label>
            </li>
            <li class="text-s">
              <input type="checkbox" id="part_time" name="part_time" />
              <label for="part_time" class="text-s">Part Time</label>
            </li>
            <li class="text-s">
              <input type="checkbox" id="internship" name="internship" />
              <label for="internship" class="text-s">Internship</label>
            </li>
            <li class="text-s">
              <input type="checkbox" id="project_work" name="project_work" />
              <label for="project_work" class="text-s">Project Work</label>
            </li>
          </ul>

          <!-- Salary range -->
          <div>
            <div class="text-s font-bold text-slate-500 mt-4">Salary Range</div>
            <div class="price-input flex justify-between">
              <div class="field flex items-center">
                <input
                  type="number"
                  class="input-min w-full h-10 text-s font-bold text-center border-0 outline-none"
                  value="0"
                />
              </div>
              <div
                class="separator w-28 text-s font-bold flex items-center justify-center"
              >
                -
              </div>
              <div class="field flex items-center">
                <input
                  type="number"
                  class="input-max w-full h-10 text-s font-bold text-center border-0 outline-none"
                  value="100000"
                />
              </div>
            </div>
            <div class="slider relative h-1 bg-gray-300 rounded-md">
              <div
                class="progress absolute left-1/4 right-1/4 h-full bg-black rounded-md"
              ></div>
            </div>
            <div class="range-input relative mt-3">
              <input
                type="range"
                class="range-min absolute w-full h-1 top-[-20px] pointer-events-none appearance-none"
                min="0"
                max="100000"
                value="0"
                step="1000"
              />
              <input
                type="range"
                class="range-max absolute w-full h-1 top-[-20px] pointer-events-none appearance-none"
                min="0"
                max="100000"
                value="100000"
                step="1000"
              />
            </div>
          </div>

          <div class="flex w-full max-w-[515px] mt-4 mx-auto">
            <!-- Job Field Dropdown -->
            <div class="flex flex-col">
              <label
                for="job-field"
                class="text-s text-slate-500 font-bold mb-4"
                >Job Field</label
              >
              <div class="relative">
                <select
                  id="job-field"
                  class="appearance-none w-[100px] bg-gray-200 border border-black rounded-[25px] h-[25px] pl-4 pr-10"
                >
                  <option value="" class="text-center">Any</option>
                  <option value="architecture_engineering">Architecture and Engineering</option>
                  <option value="arts_entertainment">Arts and Entertainment</option>
                  <option value="business_management">Business Management and Administration</option>
                  <option value="communications">Communications</option>
                  <option value="education">Education</option>
                  <option value="it">IT</option>
                  <option value="repair_maintenance">Repair and Maintenance</option>
                  <option value="agriculture">Agriculture</option>
                  <option value="health_medicine">Health and Medicine</option>
                  <option value="law_public_policy">Law and Public policy</option>
                  <option value="sales">Sales</option>
                </select>
                <!-- Arrow Icon -->
                <div
                  class="absolute right-3 top-1/2 transform -translate-y-1/2 pointer-events-none"
                >
                  <svg
                    class="w-4 h-4 text-gray-500"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M5.23 7.21a.75.75 0 011.06 0L10 10.73l3.71-3.52a.75.75 0 011.06 1.06l-4.25 4a.75.75 0 01-1.06 0l-4.25-4a.75.75 0 010-1.06z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Separator Line -->
        <div class="h-screen w-[1px] bg-gray-400 mx-4"></div>
        <!-- Explore -->
        <div class="flex flex-col flex-grow">
          <h2 class="text-lg font-bold pt-5 ml-10 mr-auto">Explore</h2>
          <div class="flex flex-wrap justify-start gap-8 p-5">
            {% for job_posting in job_postings %}
              <!-- Job-Posting Div -->
              <div class="flex flex-col job-posting p-2 pb-4 m-1 w-80 rounded-xl bg-white shadow-xl"
              data-min-salary="{{ job_posting.min_salary }}"
              data-max-salary="{{ job_posting.max_salary }}"
              data-job-field="{{ job_posting.job_field }}"
              data-job-sched="{{ job_posting.job_schedule }}">
                <!-- Colored Section -->
                <div class="relative flex-1 flex flex-col gap-1 p-5 mb-5 {{ job_posting.color }} rounded-xl">
                  <h1 class="text-xl font-bold">{{ job_posting.job_title }}</h1>
                  <h6 class="text-xs">{{ job_posting.company_name }}</h6>
                  {% if job_posting.company_logo %}
                    <img src="{{ job_posting.company_logo.url }}" class="w-10 h-10 my-2" title="{{ job_field.company_name }}">
                  {% else %}
                  <div class="w-10 h-10 my-2 bg-gray-200 rounded-full flex items-center justify-center">
                    <p class="text-xs font-bold text-gray-500">No Logo</p>
                  </div>
                  {% endif %}
                  <!-- Tags Section -->
                  <div class="flex flex-wrap gap-2 mb-4">
                    <div class="min-w-10 h-6 mt-1 px-3 flex justify-center items-center text-xs box-border rounded-2xl border-[1.5px] border-solid border-black">
                      <p class="font-semibold">{{ job_posting.get_job_field_display }}</p>
                    </div>

                    {% for tag in job_posting.tags %}
                    <div class="min-w-10 h-6 mt-2 mt-1 px-3 flex justify-center items-center text-xs box-border rounded-2xl border-[1.5px] border-solid border-black">
                      <p class="font-semibold">{{ tag }}</p>
                    </div>
                    {% endfor %}

                    <div class="min-w-10 h-6 mt-1 px-3 flex justify-center items-center text-xs box-border rounded-2xl border-[1.5px] border-solid border-black">
                      <p class="font-semibold">{{ job_posting.get_job_schedule_display }}</p>
                    </div>
                  </div>
                  <p class="text-xs absolute bottom-2">Open until:</p>
                  <p class="text-xs absolute bottom-2 right-5">{{ job_posting.hiring_deadline }}</p>
                </div>
                <div class="flex justify-between">
                  <p class="font-bold ml-3">₱{{ job_posting.min_salary }} - ₱{{ job_posting.max_salary }}</p>
                  <a href="{% url 'job_posting' id=job_posting.id %}" class="mr-3">
                    <button class="w-20 h-8 bg-black text-white rounded-2xl hover:scale-105 hover:shadow-md active:scale-95 active:shadow-sm">Details</button>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
          
        </div>
      </div>
    </div>

    <!-- Footer -->
     {% include 'includes/footer.html' %}
  </body>
  
  <script src="{% static 'js/salary_slider.js' %}"></script>
</html>
 