{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posting Details</title>
    {% tailwind_css %}
    {% if messages %}
        {% include 'includes/message_box.html' %}
    {% endif %}
</head>
<body class="w-screen h-screen">
    <!-- Navbar -->
    {% include 'includes/headings.html' %}
    <!-- Search Job Bar -->
    {% include 'includes/search_job_bar.html' %}
    <div class="bg-gray-300 flex flex-col">
      <div class="w-full mt-5 flex justify-center">
          <!-- Job Posting Details -->
          <div class="relative max-w-[650px] w-[55%] h-full m-3 p-7 bg-white rounded-xl">
              <a href="{% url 'home' %}"><img src="{% static 'images/cross_mark_icon.png' %}"
                class="absolute top-2 right-2 w-8 h-8"></a>
              <!-- First row -->
              <div class="flex mb-0">
                  <img src="{{ job_posting.company_logo.url }}" class="w-20 h-20 border-[1px] border-black border-solid rounded-lg">
                  <div class="flex flex-col">
                      <h1 class="text-xl font-bold ml-3">{{ job_posting.job_title }}</h1>
                      <div class="flex flex-wrap">
                          {% for tag in job_posting.tags %}
                          <div class="min-w-10 h-6 mx-3 mt-2 px-3 flex justify-center items-center text-xs bg-orange-300 box-border rounded-2xl border-2 border-solid border-black">
                            <p>{{ tag }}</p>
                          </div>
                          {% endfor %}
                        </div>
                  </div>
                  <!-- Add href for apply job -->
                  <a href="" class="ml-auto mr-5 my-auto"><button class="w-24 h-8 bg-purple-700 text-white text-sm font-bold rounded-lg">Apply Now</button></a>
              </div>
              <!-- 2nd row -->
              <div>
                  <h1 class="mt-4 mb-1 text-sm font-bold">Job Description</h1>
                  <hr class="border-solid border-black text-lg">
                  <p class="text-sm">{{ job_posting.job_description }}</p>
                  <h1 class="mt-4 mb-1 text-sm font-bold">Essential Knowledge Skills And Experience</h1>
                  <hr class="border-solid border-black">
                  <p class="text-sm">{{ job_posting.core_competencies }}</p>
              </div>

          </div>
          <div class="max-w-[280px] w-[23%] w-1/4 h-full m-3 p-7 bg-white rounded-xl">
              <div class="flex">
                  <img class="w-4 h-4 mr-1 my-auto" src="{% static 'images/info_icon.png' %}">
                  <h1 class="">More Information</h1>
              </div>
              <h1 class="my-1 font-bold">Job Field</h1>
              <p>{{ job_posting.job_field }}</p>
              <h1 class="my-1 font-bold">Hiring Deadline</h1>
              <p>{{ job_posting.hiring_deadline }}</p>
              <h1 class="my-1 font-bold">Salary Range</h1>
              <p>₱{{ job_posting.min_salary }} - ₱{{ job_posting.max_salary }}</p>


          </div>
      </div>

      <!-- Other Jobs Scrollable? -->
      <div class="flex max-w-[970px] w-[80%] mx-auto mt-6 overflow-x-auto flex-nowrap">
          {% for job_posting in other_job_postings %}
            <!-- Job-Posting Div -->
            <div class="p-2 pb-5 m-1 min-w-80 rounded-xl bg-white shadow-xl box-border">
              <!-- Colored Section -->
              <div class="relative p-5 pb-2 h-60 mb-5 bg-orange-300 rounded-xl">
                <h1 class="text-xl font-bold">{{ job_posting.job_title }}</h1>
                <img src="{{ job_posting.company_logo.url }}" class="w-10 h-10 my-2">
                <!-- Tags Section -->
                <div class="flex flex-wrap">
                  {% for tag in job_posting.tags %}
                  <div class="min-w-10 h-6 m-2 mb-1 px-3 flex justify-center items-center text-xs bg-orange-300 box-border rounded-2xl border-2 border-solid border-black">
                    <p>{{ tag }}</p>
                  </div>
                  {% endfor %}
                </div>
                <p class="text-xs absolute bottom-2">Open until:</p>
                <p class="text-xs absolute bottom-2 right-5">{{ job_posting.hiring_deadline }}</p>
              </div>
              <div class="flex justify-between">
                <p class="font-bold ml-3">₱{{ job_posting.min_salary }} - ₱{{ job_posting.max_salary }}</p>
                <a href="{% url 'job_posting' id=job_posting.id %}"><button class="w-20 h-8 mr-3 bg-black text-white rounded-2xl">Details</button></a>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
</body>
</html>