{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Job Posting Details</title>
    {% tailwind_css %}
    {% if messages %}
        {% include 'includes/message_box.html' %}
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/dist/custom.css' %}">

    <script>
      const blurPage = ()=>{
          // Disable scroll
          $('body').addClass("overflow-hidden");
          // Blur
          // Make semi transparent for black background to be semi visible           
          $("nav").addClass("opacity-50 pointer-events-none");
          $(".search_job_bar").addClass("opacity-50 pointer-events-none");
          $(".main_page").addClass("opacity-50 pointer-events-none");
      }
      const unblurPage = ()=>{
          $('body').removeClass("overflow-hidden");

          $("nav").removeClass("opacity-50 pointer-events-none");
          $(".search_job_bar").removeClass("opacity-50 pointer-events-none");
          $(".main_page").removeClass("opacity-50 pointer-events-none");

      }

      $(document).ready(function(){
        $("#job_application_btn").click(()=>{
          blurPage();
          $("#job_application_modal").show();
        });
        $("#job_application_exit, #job_application_cancel").click(()=>{
          unblurPage();
          $("#job_application_modal").hide();
        })
        $("input[type='file']").change(function() { this.form.submit() })
      });
    </script>
</head>
<body class="w-full h-screen bg-black">
    <!-- Navbar -->
    {% include 'includes/headings.html' %}
    <!-- Search Job Bar -->
    {% include 'includes/search_job_bar.html' %}
    <div class="main_page min-h-[calc(100vh-150px)] flex flex-col items-center bg-gray-200">
      <div class="flex flex-col items-center">
        <!-- Job Post Details -->
        <div class="min-w-[800px] p-10 flex flex-col rounded-xl bg-white">
          
          <div class="flex gap-4">
            <img src="{{ job_posting.company_logo.url }}" class="w-20 h-20 rounded-lg">

            <div class="flex flex-col flex-1">
              <h1 class="text-xl font-bold ml-3">{{ job_posting.job_title }}</h1>

              <div class="p-2 flex flex-wrap gap-x-2 gap-y-1">
                {% for tag in job_posting.tags %}
                <div class="min-w-10 h-6 mt-1 mb-1 px-3 flex justify-center items-center text-xs bg-cyan-200 box-border rounded-2xl border-[1px] border-solid border-black">
                  <p class="font-semibold">{{ tag }}</p>
                </div>
                {% endfor %}
                <div class="min-w-10 h-6 mt-1 mb-1 px-3 flex justify-center items-center text-xs bg-cyan-200 box-border rounded-2xl border-[1px] border-solid border-black">
                  <p class="font-semibold">{{ job_posting.get_job_schedule_display }}</p>
                </div>
              </div>
            </div>

            <div class="ml-auto mr-5 my-auto flex flex-col items-center">
              <button id="job_application_btn" class="px-4 py-2 text-sm font-bold rounded-lg hover:scale-105 hover:shadow-md active:scale-95 active:shadow-sm
                {% if request.user.is_authenticated %}
                  text-white
                  bg-purple-700
                {% else %}
                  text-black
                  bg-gray-300
                {% endif %}"
                
                {% if not request.user.is_authenticated %} disabled {% endif %} >
                {% if edit_application_fields.already_applied %}
                Edit Entry
                {% else %}
                Apply Now
                {% endif %}
              </button>
              {% if edit_application_fields.already_applied %}
                <p class="text-xs mt-2">Last Updated: {{ edit_application_fields.form.date_updated }}</p>
              {% endif %}
            </div>

          </div>
          
          <hr class="border-top-2px my-6  ">

          <div class="flex flex-col gap-4">
            <h1 class="font-bold text-2xl">Job Description</h1>
            <p class="text-sm">{{ job_posting.job_description }}</p>
          </div>

          <hr class="border-top-2px my-6">
          
          <div class="flex gap-10">
            <div class="w-1/2 flex flex-col gap-2">
              <div class="flex items-center">
                  <img src="{% static 'jobs/images/location.png' %}" class="profile_detail_icon">
                  <p id="job" class="text-sm">{{ job_posting.address }}</p>
              </div>

              <div class="flex items-center">
                  <img src="{% static 'jobs/images/field.png' %}" class="profile_detail_icon">
                  <p id="job" class="text-sm font-medium">{{ job_posting.get_job_field_display }}</p>
              </div>

              <div class="flex items-center">
                  <img src="{% static 'jobs/images/calendar.png' %}" class="profile_detail_icon">
                  <p id="job" class="text-sm font-medium">Deadline: {{ job_posting.hiring_deadline }}</p>
              </div>

              <div class="flex items-center">
                <img src="{% static 'jobs/images/salary.png' %}" class="profile_detail_icon">
                <p id="job" class="text-sm font-medium">{{ job_posting.min_salary }} - {{ job_posting.max_salary }} Pesos/year</p>
              </div>
            </div>

            <div class="flex flex-col gap-4">
              <h1 class="font-bold text-2xl">Core Competencies</h1>
              <p class="text-sm">{{ job_posting.core_competencies }}</p>
            </div>
          </div>

        </div>

        <!-- Other Jobs Scrollable -->
        <div class="flex-1 flex mt-6 gap-4 max-w-[1000px] overflow-x-auto flex-nowrap">
          {% for o_job_posting in other_job_postings %}
            <!-- Job-Posting Div -->
            <div class="shrink-0 p-2 pb-5 my-1 w-80 rounded-xl bg-white shadow-xl box-border">
              <!-- Colored Section -->
              <div class="relative p-5 pb-2 h-60 mb-5 {{ o_job_posting.color }} rounded-xl">
                <h1 class="text-xl font-bold">{{ o_job_posting.job_title }}</h1>
                <h6 class="text-sm">{{ o_job_posting.get_job_field_display }}</h6>
                <img src="{{ o_job_posting.company_logo.url }}" class="w-10 h-10 my-2">
                <!-- Tags Section -->
                <div class="flex flex-wrap gap-x-2 gap-y-1">
                  {% for tag in o_job_posting.tags %}
                  <div class="min-w-10 h-6 mt-1 mb-1 px-3 flex justify-center items-center text-xs box-border rounded-2xl border-[1px] border-solid border-black">
                    <p class="font-semibold">{{ tag }}</p>
                  </div>
                  {% endfor %}
                  <div class="min-w-10 h-6 mt-1 mb-1 px-3 flex justify-center items-center text-xs box-border rounded-2xl border-[1px] border-solid border-black">
                    <p class="font-semibold">{{ o_job_posting.get_job_schedule_display }}</p>
                  </div>
                </div>
                <p class="text-xs absolute bottom-2">Open until:</p>
                <p class="text-xs absolute bottom-2 right-5">{{ o_job_posting.hiring_deadline }}</p>
              </div>
              <div class="flex justify-between">
                <p class="font-bold ml-3">₱{{ o_job_posting.min_salary }} - ₱{{ o_job_posting.max_salary }}</p>
                <a href="{% url 'job_posting' id=o_job_posting.id %}" class="mr-3">
                  <button class="w-20 h-8 bg-black text-white rounded-2xl hover:scale-105 hover:shadow-md active:scale-95 active:shadow-sm">Details</button>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>  
    
    {% if request.user.is_authenticated %}
        {% include 'includes/job_application_form.html' %}
    {% endif %}

    <!-- Hidden Dummy Div for Tailwind JIT -->
    <div class="hidden" style="display: none;">
      bg-blue-300 bg-pink-200 bg-orange-200 bg-sky-200 bg-yellow-200
      bg-green-300 bg-red-200 bg-lime-200 bg-rose-200 bg-amber-200
      bg-yellow-300 bg-gray-300
    </div>
</body>
</html>