{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Job Posting Details</title>
    {% tailwind_css %}
    {% if messages %}
        <script src="{% static 'js/message_box.js' %}"></script>
        {% include 'includes/message_box.html' %}
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/dist/custom.css' %}">

    <script>
      const blurPage = ()=>{
          // Disable scroll
          $('body').addClass("overflow-hidden");
          // Blur
          // Make semi transparent for black background to be semi visible           
          $("nav").addClass("opacity-50 pointer-events-none");
          $(".search_job_bar").addClass("opacity-50 pointer-events-none");
          $(".main_page").addClass("opacity-50 pointer-events-none");
      }
      const unblurPage = ()=>{
          $('body').removeClass("overflow-hidden");

          $("nav").removeClass("opacity-50 pointer-events-none");
          $(".search_job_bar").removeClass("opacity-50 pointer-events-none");
          $(".main_page").removeClass("opacity-50 pointer-events-none");

      }

      $(document).ready(function(){
        $("#job_application_btn").click(()=>{
          blurPage();
          $("#job_application_modal").show();
        });
        $("#job_application_exit, #job_application_cancel").click(()=>{
          unblurPage();
          $("#job_application_modal").hide();
        })
        $("input[type='file']").change(function() { this.form.submit() })
      });
    </script>
</head>
<body class="w-full h-screen bg-black">
    <!-- Navbar -->
    {% include 'includes/headings.html' %}
    <div class="main_page min-h-[calc(100vh-80px)] flex flex-col items-center bg-gray-200">
      <div class="w-[90%] max-w-[1000px] mt-10 p-8 flex flex-col bg-white border-gray-500 border-2 border-solid rounded-xl">
        
        <div class="flex h-12 pl-9">
          <h1 class="text-2xl font-bold">My Job Applications</h1>
        </div>
        
        <div class="p-5 flex text-center gap-2">
            <h4 class="flex-1">Company</h4>
            <h4 class="flex-1">Position</h4>
            <h4 class="flex-1">Details</h4>
            <h4 class="flex-1">Status</h4>
        </div>

        <hr class="border-top-2px w-[93%] border-gray-400 mb-3 self-center">

        {% for application in job_applications %}
          <a class="mb-5 p-5 flex justify-between gap-2 rounded-2xl hover:bg-gray-200 hover:text-black" href="/jobs/job_posting/{{ application.job_post.id }}">
              <!-- Company -->
              <div class="flex-1 flex flex-col items-center gap-3">
                <img src="{{ application.job_post.company_logo.url }}" class="min-w-[70px] w-1/2 max-w-[90px]">
                <h1 class="text-sm">{{ application.job_post.company_name }}</h1>
              </div>
              <!-- Position -->
              <div class="flex-1 flex flex-col justify-center items-center">
                <h1 class="text-lg font-bold">{{ application.job_post.job_title }}</h1>
                <h1 class="">{{ application.job_post.get_job_field_display }}</h1>
              </div>
              <!-- Details -->
              <div class="flex-1 flex flex-col justify-center items-center gap-2">
                <div class="flex items-center">
                  <img src="{% static 'jobs/images/salary.png' %}" class="profile_detail_icon">
                  <p class="text-sm">₱{{ application.job_post.min_salary }} - ₱{{ application.job_post.max_salary }}</p>
                </div>
                <div class="flex items-center">
                  <img src="{% static 'jobs/images/calendar.png' %}" class="profile_detail_icon">
                  <p class="text-sm">Deadline: {{ application.job_post.hiring_deadline }}</p>
                </div>
              </div>
              <!-- Status -->
              <div class="flex-1 flex justify-center items-center">
                <div class="w-[100px] h-10 rounded-2xl
                {% if application.status == 0 %}
                  bg-orange-300 
                {% elif application.status == 1 %}
                  bg-green-300
                {% else %}
                  bg-red-300
                {% endif %}
                  font-semibold flex items-center justify-center">{{ application.get_status_display }}</div>
              </div>
            </a>
        {% endfor %}
      </div>
    </div>
</body>
</html>